/* Medias para responsividade ALTURA*/
@media screen and (max-device-height: 530px) {
    .box{
        height: 350px;
        margin-top: 10vh; margin-bottom: 5vh;
    }
    .box > img{
        height: 250px; width: 100%;
        border-radius: 10px;
    }
    .box > .text h1{
        font-size: 3.8vh;
    }
    .box > .text p{
        font-size: 2.6vh;
    }
    .attribution { 
        font-size: 2.4vh;
    }
}
@media screen and (min-device-height: 530px) {
    .box{
        height: 350px; width: 350px;
        margin-top: 10vh; margin-bottom: 5vh;
    }
    .box > img{
        height: 250px; width: 100%;
        border-radius: 10px;
    }
    .box > .text h1{
        font-size: 3.4vh;
    }
    .box > .text p{
        font-size: 2.4vh;
    }
    .attribution { 
        font-size: 2.4vh;
    }
}
@media screen and (min-device-height: 560px) {
    .box{
        height: 400px; width: 350px;
        margin-top: 10vh; margin-bottom: 15vh;
    }
    .box > .text h1{
        font-size: 2.8vh;
    }
    .box > .text p{
        font-size: 2.2vh;
    }
    .attribution { 
        font-size: 2.0vh;
    }
}

@media screen and (min-device-height: 600px) {
    .box{
        height: 420px; width: 350px;
        margin-top: 10vh; margin-bottom: 15vh;
    }
    .box > .text h1{
        font-size: 2.8vh;
    }
    .box > .text p{
        font-size: 2.2vh;
    }
    .attribution { 
        font-size: 2.0vh;
    }
}
@media screen and (min-device-height: 630px) {
    .box{
        height: 450px; width: 350px;
        margin-top: 10vh; margin-bottom: 15vh;
    }
    .box > .text h1{
        font-size: 2.8vh;
    }
    .box > .text p{
        font-size: 2.2vh;
    }
    .attribution { 
        font-size: 2.0vh;
    }
}
@media screen and (min-device-height: 768px) {
    .box{
        height: 450px; width: 350px;
        margin-top: 10vh; margin-bottom: 15vh;
    }
}
@media screen and (min-device-height: 992px) {
    .box{
        height: 500px; width: 350px;
        margin-top: 20vh; margin-bottom: 20vh;
    }
}

/* Medias para responsividade LARGURA*/
@media screen and (max-device-width: 375px){
    .box{
        width: 250px;
    }
}